.profile__achievements-block {
    height: 5.4rem;
}

.profile__achievements-block > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
}

.profile__achievements-block > div > div {
    display: flex;
    height: 100%;
    width: min-content;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.profile__achievements-block > div > div > img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}