body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Используемые цвета */
  --joyful: #f7edbd;
  --dynamic-black: #1e1e1e;
  --radical-red: #ff335f;
  --emerald-pool: #16615d;
  --bleached-silk: #f2f2f2;

  /* Фиксированные размеры */
  --desktop-main-width: 64rem;

  margin: 0;
  background-color: var(--dynamic-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}