.profile__comment-block {
    height: 19rem;
}

.profile__comment-block-flcol {
    display: flex;
    height: 14rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.profile__comment-block-flrow {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}