.header {
    display: flex;
    margin-top: 3.1rem;
    width: var(--desktop-main-width);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--radical-red)
}

.header__logo {
    width: 194px;
    height: 74px;
    font-weight: 800;
}

.header nav {
    display: flex;
    flex-direction: row;
    grid-gap: 6.3rem;
}

.header a {
    text-decoration: none;
    color: var(--radical-red)
}